.leafRightTopContainer{  
    border-radius: 60% 0;
}

.leafRightTopBigContainer{  
    border-radius: 30% 0; 
}

.leafLeftTopContainer{
    border-radius: 0 60%;
}

.leafLeftTopBigContainer{ 
    border-radius: 0 30%; 
}

.circleContainer{
    border-radius: 50%; 
}

